@page
@using ArticalProject.Areas.Identity.Pages.Account
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تأكيد إعادة تعيين كلمة المرور";
}

<h1>@ViewData["Title"]</h1>
<p>
    تم إعادة تعيين كلمة المرور الخاصة بك. من فضلك <a asp-page="./Login">انقر هنا لتسجيل الدخول</a>.
</p>
